{% extends 'base.html'  %}
{% block title %} Customer Edit Form {% endblock title %}

{% block body %}  
 <div class="container mt-3">
    <div class="row">
			<div class="col-lg-5 mx-auto">
				<h2 class="alert alert-light border rounded text-center">Edit  data</h2>
				<form action="" method="post" novalidate enctype="multipart/form-data"> {% csrf_token %}   
  					{% for fm in form %}
  						 {{fm.errors}}{{fm.label_tag}} {{fm}}<br><br>
  					{% endfor %}
					<div class="form-group mt-3 mb-5"> 
						<input type="submit"value="Update" class="form-control btn btn-success">
					</div>
				</form>
			</div> 
		</div>
	</div>
{% endblock body %}