{% extends 'base.html' %}
{% block title %} Signup {% endblock title %}

{% block body %}
<style type="text/css">
	.errorlist {
		color: red;
	}
</style>

<div class="container mt-3">
	<div class="row">
		<div class="p-4 m-4">
			<div class="col-lg-4 mt-3 mx-auto">
				<h2 class="alert alert-light border rounded text-center">Login Here</h2>
				{% for message in messages %}
					<p class="bg-info p-3">{{message}}</p>
				{% endfor %}
				<form action="" method="post" novalidate> {% csrf_token %}
					{% for fm in form %}
					{{fm.label_tag}} {{fm}}<span class="errorlist">{{fm.errors|striptags}}</span><br>
					{% endfor %}
					<div class="form-group mt-3 mb-5 ">
						<input type="submit" value="Login" class="form-control btn btn-primary p-3">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>	
{% endblock body %}